// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Header */

header#header {
    #logo {
        color: transparent;
        background-image: url("../images/beio-logo-full.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 1.2em;
		display: block;
		height: 87px;
        width: 357px;

        @include breakpoint(xlarge) {
            background-position-x: 0;
            transform: translateX(0.4em);
        }

        @include breakpoint(large) {
            transform: translateX(-1.2em);
        }

        @include breakpoint(medium) {
            transform: translateX(3em);
        }
    }
}