// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Landing */
body {
    padding: 15.1vh 0 1vh 0;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;

    @include breakpoint(small) {
        padding: 7vh 0 1vh 0;
    }
}

header#header,
footer#footer,
#main {
    z-index: 100;
    position: relative;
}

#main {
    header {
        h2 {
            margin-bottom: 45px;
        }

        p {
            margin-bottom: 40px;
        }
    }

    .column {
        padding-right: 4vw;
    }

    @include breakpoint(large) {
        .column {
            &.left {
                margin-bottom: 2em;
            }
        }
    }
}

footer#footer {
    .address {
        float: right;
        width: 76%;
    }

    @include breakpoint(xsmall) {
        .address {
            float: left;
            width: 100%;
        }
    }
}

#logoBeioBuild,
#logoBeioBuildBgImage {
    display: block;
    position: fixed;
    z-index: auto;
}

#logoBeioBuild {
    top: -27vh;
    right: -23vw;
    width: 109vw;
    height: auto;

    @include breakpoint(medium) {
        top: unset;
        bottom: 0;
        right: -22vw;
        opacity: 0.6;
    }

    @include breakpoint(small) {
        bottom: -10%;
    }
}

#logoClipPath,
#logoBeioShape {
    position: absolute;
    
}

#logoBeioBuildBgImage {
    top: 0;
    right: 0;
    width: 1988px;
    height: auto;
}

#logoBeioShape {
    top: -19vh;
    right: -12vw;
    width: 47vw;
    height: auto;
    @include vendor('transition', 'transform #{_duration(transition)} #{_easing(ease-out-sine)}');

    @include breakpoint(medium) {
        position: fixed;
        top: unset;
        bottom: -10%;
        right: 0;
    }

    @include breakpoint(small) {
        right: unset;
        left: -10vw;
    }
}

.content--canvas {
    z-index: auto;
}

