<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <title>BEIO | BIURO EKSPERTYZ I OPINII | Email Signature</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>

<body>

    <table style="font-size: 9pt; font-family: Arial, sans-serif; line-height: 14px; padding: 35px;" cellpadding="0"
        cellspacing="0">
        <tbody>
            <tr>
                <td rowspan="6" style="width: 235px;vertical-align: top;">
                    <a href="https://www.beio.pl/" target="_blank">
                        <img border="0" alt="Logo" width="213" height="75" style="width:213px; height:75px; border:0;"
                            src="https://beio.pl/assets/images/beio-logo---email-signature.png" alt="Logo BEIO - BIURO EKSPERTYZ I OPINII">
                    </a>
                </td>
                <td colspan="2" style="padding-bottom:10px;width:483px;">
                    <span style="font-size: 24px;color:#110949;font-family: Arial, sans-serif; font-weight: bold;">
                        BIURO&nbsp;EKSPERTYZ I&nbsp;OPINI
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">
                    <span style="font-size: 14px;color:#110949;font-family: Arial, sans-serif;">OPINIE&nbsp;SĄDOWE</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px; border-bottom: solid 2px #d1d2d4;">
                    <span style="font-size: 14px;color:#110949;font-family: Arial, sans-serif;">EKSPERTYZY&nbsp;TECHNICZNE</span>
                </td>
                <td style="padding-bottom: 10px; border-bottom: solid 2px #d1d2d4;">
                    <a style="font-size: 14px;color:#110949;font-family: Arial, sans-serif;font-weight:bold;text-decoration: none;"
                        href="http://www.beio.pl" target="_blank">
                        WWW.BEIO.PL
                    </a>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px; padding-bottom: 10px;">
                    <a style="font-size: 14px;color:#110949;font-family: Arial, sans-serif;text-decoration: none;" href="mailto:biuro@beio.pl">
                        BIURO@BEIO.PL
                    </a>
                </td>
                <td style="padding-top: 10px; padding-bottom: 10px;">
                    <span style="font-size: 14px;color:#110949;font-family: Arial, sans-serif;">
                        UL.&nbsp;KAZIMIERZA&nbsp;WIELKIEGO&nbsp;2
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">
                    <a style="font-size: 14px;color:#110949;font-family: Arial, sans-serif;font-weight:bold;text-decoration: none;"
                        href="tel:+48660450275" target="_blank">
                        +48&nbsp;660&nbsp;450&nbsp;275
                    </a>
                </td>
                <td style="padding-bottom: 10px;">
                    <span style="font-size: 14px;color:#110949;font-family: Arial, sans-serif;">
                        66-600&nbsp;KROSNO&nbsp;ODRZAŃSKIE
                    </span>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="padding-bottom: 10px;">
                    <span style="font-size: 14px;color:#110949;font-family: Arial, sans-serif;">
                        NIP&nbsp;926&nbsp;154&nbsp;69&nbsp;78
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>